{% extends 'parent.html' %}

{% block content %}
    <h1>VM Home</h1>
    <hr>
    <h2>Active VMS</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Memory</th>
            <th>CPU</th>
            <th>Stop</th>
            <th>Force Stop</th>
        </tr>
        {% for name in activevm%}
        <tr>
            <td>{{name}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form action="{% url 'virtualmachines:vmlist' %}" method="POST">
                    <button type='submit' name='action' value='stop'>Stop</button>
                    <input type='hidden' name='vmname' value='{{name}}'/>
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url 'virtualmachines:vmlist' %}" method="POST">
                    <button type='submit' name='action' value='forcestop'>Force Stop</button>
                    <input type='hidden' name='vmname' value='{{name}}'/>
                    {% csrf_token %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Inactive VMS</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Memory</th>
            <th>CPU</th>
            <th>Start</th>
        </tr>
        {% for name in inactivevm%}
        <tr>
            <td>{{name}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form action="{% url 'virtualmachines:vmlist' %}" method="POST">
                    <button type='submit' name='action' value='start'>Start</button>
                    <input type='hidden' name='vmname' value='{{name}}'/>
                    {% csrf_token %}
                </form>
            </td>

        </tr>
        {% endfor %}
    </table>
{% endblock %}